<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="s2e_accueil_struts">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/resource"/>
        <property name="context-root" value="s2e_accueil_struts"/>
        <property name="java-output-path" value="/s2e_accueil_struts/build/classes"/>
    </wb-module>
</project-modules>
